<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Fishing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Fishing.Properties.Settings>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxCatch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CastMax" serializeAs="String">
        <value>3.5</value>
      </setting>
      <setting name="CastMin" serializeAs="String">
        <value>3.0</value>
      </setting>
      <setting name="CatchUnknown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Delay" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Opacity" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="FakeLarge" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FakeLargeMax" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="FakeLargeMin" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="FakeSmall" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FakeSmallMax" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="FakeSmallMin" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MaxNoCatch" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ReactionMax" serializeAs="String">
        <value>2.0</value>
      </setting>
      <setting name="ReactionMin" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>540, 255</value>
      </setting>
      <setting name="FullAction" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FullActionOther" serializeAs="String">
        <value />
      </setting>
      <setting name="GMAutoStop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoKill" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Extend" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QuickKill" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QuickKillValue" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Reaction" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreItems" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnoreMonsters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnoreSmallFish" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreLargeFish" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StopSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TellDetect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFishHP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Itemizer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxCatchValue" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SneakFishing" serializeAs="String">
        <value>False</value>
      </setting>
    </Fishing.Properties.Settings>
  </userSettings>
</configuration>